---
import type { HTMLAttributes } from "astro/types"
import classes from "./LinkButton.module.scss"

export type Props = HTMLAttributes<"a"> & {
    variant?: "primary" | "secondary" | "ghost"
}

type AnchorHref = HTMLAttributes<"a">["href"]

const getExternalAnchorHrefProps = (href: AnchorHref) => {
    if (!href) {
        return {}
    }
    const url = new URL(href, Astro.url)
    const isExternal = url.origin !== Astro.url.origin
    return isExternal ? { 
        target: "_blank", 
        rel: "noopener noreferrer" 
    } : {};
}

const {
    variant,
    href,
    class: className,
    ...props
} = Astro.props
---
<a
    class:list={[
        classes.LinkButton,
        variant && classes[`LinkButton--${variant}`],
        className,
    ]}
    {...props}
    {...getExternalAnchorHrefProps(href)}
>
    <slot />
</a>
