---
import type { HTMLAttributes } from "astro/types"
import classes from "./LinkButton.module.scss"

export type Props = HTMLAttributes<"a"> & {
    variant?: "primary" | "secondary" | "ghost"
}

type AnchorHref = HTMLAttributes<"a">["href"]

const isExternalHref = (href: AnchorHref) => href && new URL(href, Astro.url).origin !== Astro.url.origin

const {
    variant,
    href,
    class: className,
    ...props
} = Astro.props
---
<a
    class:list={[
        classes.LinkButton,
        variant && classes[`LinkButton--${variant}`],
        className,
    ]}
    {...props}
    href={href}
    {...isExternalHref(href) 
    ? { 
        target: "_blank", 
        rel: "noopener noreferrer" 
    } 
    : {}}
>
    <slot />
</a>
