@use "../../styles/utilities/breakpoints" as breakpoint;

.Hero {
    --Hero-gap: var(--space-4);
    --Hero-padding-x: var(--space-4);
    --Hero-padding-y: var(--space-8);
    --Hero-actions-gap: var(--space-2);

    display: grid;
    gap: var(--Hero-gap);
    padding-inline: var(--Hero-padding-x);
    padding-block: var(--Hero-padding-y);

    &__content {
        justify-items: center;
        text-align: center;
    }

    &__actions {
        display: grid;
        gap: var(--Hero-actions-gap);
    }

    @include breakpoint.from("sm") {
        --Hero-padding-x: var(--space-8);

        &__actions {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @include breakpoint.print {
        &__actions {
            display: none;
        }
    }
}
