// Minimal Baseline based on features: December 2023
$html-elements-to-reset:
    a,
    abbr,
    address,
    article,
    aside,
    b,
    bdi,
    bdo,
    blockquote,
    button,
    caption,
    cite,
    code,
    dd,
    details,
    dfn,
    dialog,
    div,
    dl,
    dt,
    em,
    fieldset,
    figcaption,
    figure,
    footer,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header,
    hgroup,
    hr,
    i,
    input,
    kbd,
    label,
    legend,
    li,
    main,
    mark,
    menu,
    meter,
    nav,
    ol,
    optgroup,
    option,
    output,
    p,
    pre,
    progress,
    q, 
    s, 
    samp,
    search,
    section,
    select,
    small,
    span,
    strong,
    sub,
    summary,
    sup,
    table,
    tbody,
    td,
    textarea,
    tfoot,
    th, 
    thead,
    time,
    tr, 
    u, 
    ul,
    var;

body,
body :where(#{$html-elements-to-reset}),
body :where(#{$html-elements-to-reset})::before,
body :where(#{$html-elements-to-reset})::after {
    all: unset;
}

body,
body *,
body *::before,
body *::after {
    box-sizing: border-box;
    min-inline-size: 0;
    max-inline-size: 100%;
}

html, body {
    display: block;
}

html {
    min-block-size: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    color-scheme: light;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    font-family: ui-sans-serif, system-ui, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior: contain;
}

@view-transition {
    navigation: auto;
}

:where(:focus-visible) {
    outline-width: var(--focus-ring-width, 2px);
    outline-offset: var(--focus-ring-offset, 2px);
    outline-style: solid;
    outline-color: var(--focus-ring-color, currentColor)
}

input[type="search" i] {
    appearance: textfield;
}

input[type="search" i]::-webkit-search-cancel-button {
    appearance: none;
}

textarea {
    --textarea-min-rows: 2;
    --textarea-max-rows: 10;
    min-block-size: calc(max(1, var(--textarea-min-rows)) * 1lh);
    max-block-size: calc(max(1, var(--textarea-min-rows), var(--textarea-max-rows)) * 1lh);
    overflow-y: scroll;
}

@supports (scrollbar-gutter: stable) {
    textarea {
        overflow-y: auto;
        scrollbar-gutter: stable;
    }
}

:where(textarea) {
    tab-size: 4; 
    resize: vertical;
}

@supports (field-sizing: content) {
    textarea[autogrow] {
        field-sizing: content;
        resize: none;  
    }
}

option, 
optgroup {
    display: block;
    white-space: nowrap;
}

[hidden] {
    display: none!important;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    body, 
    body *, 
    body *::before, 
    body *::after {
        transition-duration: 0.01ms!important;
        animation-duration: 0.01ms!important;
        animation-iteration-count: 1!important;
    }
}
