@use "./rem-unit";

$sizes: (
  xs: 12,
  sm: 14,
  base: 16,
  lg: 18,
  xl: 20,
  2xl: 24,
  3xl: 30,
  4xl: 36
);

$weights: (
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800
);

@function size($size-pixels) {
  @if $size-pixels == 0 {
    @return 0;
  }
  @return rem-unit.from-pixels($size-pixels);
}

@function weight($weight-pixels) {
  @if $weight-pixels == 0 { 
    @return 0;
  }
  @return $weight-pixels;
}

@mixin emit-tokens {
  @each $name, $size-pixels in $sizes {
    --font-size-#{$name}: #{size($size-pixels)};
  }
  @each $name, $weight-pixels in $weights {
    --font-weight-#{$name}: #{weight($weight-pixels)};
  }
}
