---
import BaseLayout from "../layouts/BaseLayout.astro"
import Prose from "../components/Prose/Prose.astro"
---

<BaseLayout title="Page introuvable">
    <Prose>
        <h1>Page introuvable</h1>
    </Prose>
</BaseLayout>
