---
import IntroductionHero from "../components/IntroductionHero/IntroductionHero.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
    <IntroductionHero />
    <section id="projects">

    </section>
    <section id="experiences">
        
    </section>
</BaseLayout>
