---
import Hero from "../components/Hero/Hero.astro"
import Section from "../components/Section/Section.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
    <Hero />
    <Section />
    <section id="experiences">
        
    </section>
</BaseLayout>
