@use "../../styles/utilities/breakpoints" as breakpoint;

.Navbar {
  --Navbar-layout-gap: var(--space-4);
  --Navbar-layout-padding-x: var(--space-2);
  --Navbar-layout-padding-y: var(--space-4);
  --Navbar-brand-font-size: var(--font-size-12);
  --Navbar-brand-font-weight: var(--font-weight-7);
  --Navbar-actions-gap: var(--space-2);

  position: relative;

  &__layout {
    display: grid;
    grid-template-areas: 
      "brand"
      "links"
      "actions";
    grid-template-columns: minmax(0, 1fr);
    justify-items: center;
    gap: var(--Navbar-layout-gap);
    padding-inline: var(--Navbar-layout-padding-x);
    padding-block: var(--Navbar-layout-padding-y);
  }

  &__brand {
    grid-area: brand;
    font-size: var(--Navbar-brand-font-size);
    font-weight: var(--Navbar-brand-font-weight);
    text-align: center;
  }

  &__links {
    grid-area: links;
  }

  &__actions {
    grid-area: actions;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--Navbar-actions-gap);
  }

  @include breakpoint.print {
    position: static;

    &__links {
      display: none;
    }

    &__actions {
      [data-handle] {
        display: inline-flex;
        align-items: center;

        &::after {
          content: attr(data-handle);
        }
      }

      > :not([data-handle]) {
        display: none;
      }
    }
  }
}
