@use "../../styles/utilities/breakpoints" as breakpoint;

.Navbar {
  position: relative;

  --Navbar-layout-gap: var(--space-4);
  --Navbar-layout-vertical-padding: var(--space-4);

  &__layout {
    display: grid;
    grid-template-areas: 
      "brand"
      "links"
      "actions";
    grid-template-columns: minmax(0, 1fr);
    justify-items: center;
    gap: var(--Navbar-layout-gap);
    padding-block: var(--Navbar-layout-vertical-padding);
  }

  --Navbar-brand-font-size: var(--font-size-2xl);
  --Navbar-brand-font-weight: var(--font-weight-bold);

  &__brand {
    grid-area: brand;
    font-size: var(--Navbar-brand-font-size);
    font-weight: var(--Navbar-brand-font-weight);
    text-align: center;
  }

  &__links {
    grid-area: links;
  }

  --Navbar-actions-gap: var(--space-2);

  &__actions {
    grid-area: actions;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--Navbar-actions-gap);
  }

  @include breakpoint.print {
    position: static;

    &__links {
      display: none;
    }

    &__actions {
      > :not([data-handle]) {
        display: none;
      }

      > [data-handle] {
        &::after {
          content: attr(data-handle);
          color: inherit;
        }
      }
    }
  }
}
