.NavbarLink {
  --NavbarLink-text-underline-color: transparent;
  --NavbarLink-text-underline-thickness: 2px;
  --NavbarLink-text-underline-offset: var(--space-1);
  --NavbarLink-text-underline-transition-duration: 180ms;
  
  text-decoration-line: underline;
  text-decoration-color: var(--NavbarLink-text-underline-color);
  text-decoration-thickness: var(--NavbarLink-text-underline-thickness);
  text-underline-offset: var(--NavbarLink-text-underline-offset);
  transition: text-decoration-color var(--NavbarLink-text-underline-transition-duration);
  cursor: pointer;
  
  &:is(:hover, :focus-visible) {
    --NavbarLink-text-underline-color: currentColor;
  }
}
