@use "../../styles/settings/breakpoints" as breakpoint;

.Navbar {
  position: relative;

  &__layout {
    display: grid;
    grid-template-areas: 
      "brand"
      "links"
      "actions";
    grid-template-columns: minmax(0, 1fr);
    justify-items: center;
    align-items: center;
    gap: var(--space-3);
    padding-block: var(--space-4);
    padding-inline: var(--space-3);
  }

  &__brand {
    grid-area: brand;
    font-size: clamp(
      var(--font-size-6),
      10vw,
      var(--font-size-12)
    );
    font-weight: var(--font-weight-7);
    text-align: center;
  }

  &__links {
    grid-area: links;
  }

  &__actions {
    grid-area: actions;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--space-2);
  }

  @include breakpoint.print {
    position: static;

    &__links {
      display: none;
    }

    &__actions {
      [data-handle] {
        display: inline-flex;
        align-items: center;
        gap: var(--space-1);

        &::after {
          content: attr(data-handle);
        }
      }

      > :not([data-handle]) {
        display: none;
      }
    }
  }
}
