@use "./scale";

$size-unit: 2;
$size-min: 6;
$size-max: 20;

$weight-unit: 100;
$weight-min: 4;
$weight-max: 7;

@function size($step) {
  @if $step == 0 {
    @return 0;
  }
  @return scale.scaled($size-unit * $step);
}

@function weight($step) {
  @if $step == 0 { 
    @return 0;
  }
  @return $weight-unit * $step;
}

@mixin emit-tokens {
  @for $step from $size-min through $size-max {
    --font-size-#{$step}: #{size($step)};
  }
  @for $step from $weight-min through $weight-max {
    --font-weight-#{$step}: #{weight($step)};
  }

  --font-size-h1: clamp(
    var(--font-size-16),
    4vw,
    var(--font-size-20)
  );

  --font-size-h2: clamp(
    var(--font-size-14),
    3.5vw,
    var(--font-size-16)
  );

  --font-size-h3: clamp(
    var(--font-size-12),
    3vw,
    var(--font-size-14)
  );

  --font-size-h4: clamp(
    var(--font-size-11),
    2.5vw,
    var(--font-size-12)
  );

  --font-size-h5: clamp(
    var(--font-size-10),
    2vw,
    var(--font-size-11)
  );

  --font-size-h6: var(--font-size-10);
}
