---
import { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<"section"> & {
    targetId: string
}

const {
    targetId,
    class: className,
    ...props
} = Astro.props
---

<section 
    id={targetId} 
    {...props}
>
    <slot />
</section>
