---
import Navbar from "../components/Navbar/Navbar.astro"
import { site } from "../config/site";
import baselineCss from "../styles/baseline.scss?inline"
import "../styles/global.scss";

type Props = {
  pageName?: string
}

const { pageName } = Astro.props;

const siteName = site.name
const documentTitle = pageName
  ? `${pageName} • ${siteName}`
  : siteName
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{documentTitle}</title>
    <style is:inline set:html={baselineCss} />
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <footer>
    </footer>
  </body>
</html>
