---
import Navbar from "../components/Navbar/Navbar.astro"
import "../styles/global.scss";

type Props = {
  title?: string
}

const { title } = Astro.props;

const siteName = "Portfolio de Kristofer Gehringer"
const documentTitle = title
  ? `${title} • ${siteName}`
  : siteName
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{documentTitle}</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <footer>
    </footer>
  </body>
</html>
